<div class="counter-container" style="display: none;" data-state="paused" data-task-id="{{ task.id }}" data-task-time-remaining="{% if task.timeRemaining is defined %}{{ task.timeRemaining }}{% else %}{{ defaultTaskDuration }}{% endif %}" data-default-task-time="{{ defaultTaskDuration }}">
    <div class="row mt-3 align-items-baseline">
        <div class="col-12"></div>
        <div class="col-9 d-grid">
            <button class="btn btn-lg btn-dark counter-play-button"><i class="counter-icon fa-solid fa-play"></i> <span class="counter-digits font-monospace"></span></button>
        </div>
        <div class="col-3 d-grid">
            <button class="btn btn-lg btn-outline-light"><i class="fa-solid fa-stop-circle"></i></button>
        </div>
    </div>
</div>