{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row my-5">
        <div class="col">
            <h1><i class="fa-solid fa-rocket"></i> Welcome to Domet.io</h1>
        </div>
    </div>
</div>
{% endblock %}