{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row my-5">
        <div class="col">
            <h1>welcome to domet.io <small><i class="fa-solid fa-2xs fa-rocket"></i></small></h1>
        </div>
    </div>
</div>
{% endblock %}